<h2>Hi I am the Plans index page</h2>

<h3>Your Plan Options and Estimated Costs</h3>
<table class='plans-list'>
	<th>Plan Name</th>
	<th>Provider</th>
	<th>Cost of Care</th>
	<th>Total Annual Cost</th>
	<% @plan_results.each do |p| %>
		<tr class='plan-details'>
			<td><%= p.plan.title %></td>
			<td><%= p.plan.provider %></td>
			<td><%= p.care_costs %></td>
			<td><%= p.total_cost %></td>
		</tr>
	<% end %>
</table>